#colorbox {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxOverlay {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxWrapper {
	left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 9999;
}
#cboxOverlay {
	width: 100%; height: 100%; position: fixed;
}
#cboxMiddleLeft {
	clear: left;
}
#cboxBottomLeft {
	clear: left;
}
#cboxContent {
	overflow: hidden; position: relative;
}
#cboxLoadedContent {
	overflow: auto;
}
#cboxLoadedContent iframe {
	border: 0px currentColor; width: 100%; height: 100%; display: block;
}
#cboxTitle {
	margin: 0px;
}
#cboxLoadingOverlay {
	left: 0px; top: 0px; width: 100%; position: absolute;
}
#cboxLoadingGraphic {
	left: 0px; top: 0px; width: 100%; position: absolute;
}
#cboxPrevious {
	cursor: pointer;
}
#cboxNext {
	cursor: pointer;
}
#cboxClose {
	cursor: pointer;
}
#cboxSlideshow {
	cursor: pointer;
}
#cboxOverlay {
	background: url("/images/SFed46ecad0112cd278150543fa28c23d3/lb/overlay.png") 0px 0px;
}
#colorbox {
	
}
#cboxTopLeft {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") no-repeat -100px 0px; width: 21px; height: 21px;
}
#cboxTopRight {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") no-repeat -129px 0px; width: 21px; height: 21px;
}
#cboxBottomLeft {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") no-repeat -100px -29px; width: 21px; height: 21px;
}
#cboxBottomRight {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") no-repeat -129px -29px; width: 21px; height: 21px;
}
#cboxMiddleLeft {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") repeat-y left top; width: 21px;
}
#cboxMiddleRight {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") repeat-y right top; width: 21px;
}
#cboxTopCenter {
	background: url("/images/SF5a4bd05d15e2556068ca9a7331f7f492/lb/border.png") repeat-x 0px 0px; height: 21px;
}
#cboxBottomCenter {
	background: url("/images/SF5a4bd05d15e2556068ca9a7331f7f492/lb/border.png") repeat-x 0px -29px; height: 21px;
}
#cboxContent {
	background: rgb(255, 255, 255);
}
#cboxTitle {
	left: 0px; width: 100%; text-align: center; bottom: 4px; color: rgb(148, 148, 148); position: absolute;
}
#cboxCurrent {
	left: 58px; bottom: 4px; color: rgb(148, 148, 148); position: absolute;
}
#cboxSlideshow {
	right: 30px; bottom: 4px; color: rgb(0, 146, 239); position: absolute;
}
#cboxPrevious {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") no-repeat -75px 0px; left: 0px; width: 25px; height: 25px; bottom: 0px; text-indent: -9999px; position: absolute;
}
.hover#cboxPrevious {
	background-position: -75px -25px;
}
#cboxNext {
	background: url("/images/SF638e6ba7419b934545d71790350ec2de/lb/controls.png") no-repeat -50px 0px; left: 27px; width: 25px; height: 25px; bottom: 0px; text-indent: -9999px; position: absolute;
}
.hover#cboxNext {
	background-position: -50px -25px;
}
#cboxLoadingOverlay {
	background: url("/images/SFacf427e932fb9413700a4b8b58b41eec/lb/loading_background.png") no-repeat center;
}
#cboxLoadingGraphic {
	background: url("/images/SFe6611f867d63754b7a2a974fb0a0e7dc/lb/loading.gif") no-repeat center;
}
#cboxClose {
	top: 5px; right: 5px; position: absolute;
}
.linkasbutton-secondary {
	background: url("/images/SF548da36952c55998885b98a992885eeb/wheel/button-bg.gif") repeat-x 0px -150px rgb(236, 226, 198); border-width: 1px; border-style: solid; border-color: rgb(187, 187, 187) rgb(170, 170, 170) rgb(170, 170, 170) rgb(187, 187, 187); padding: 5px 6px; color: rgb(0, 0, 0) !important; overflow: visible; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal !important; text-decoration: none; margin-bottom: 4px; vertical-align: middle; display: inline-block; cursor: pointer;
}
.linkasbutton-secondary:hover {
	border: 1px solid rgb(230, 184, 0); background-image: none;
}
