._2FcJ6 {
    width: 100%;
}
._3gYZi {
    border-left: none !important;
}
._2qtiy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

._33IEz {
    text-align: center;
}

._1OSoU {
    width: 100%;
}
._2tPxE {
    max-height: 570px;
    overflow: auto;
}

._3azwe {
    overflow-x: hidden;
}

._3c-TA {
    margin: 0;
    position: relative;
}

._3fsna {
    padding-left: 6px;
}

._2hRZr {
    text-align: center;
}
._20AoP {
    background-color: #fff;
    border-radius: 8px;
}
._2kFg6 {
    max-width: 100%;
    position: relative;
}

._2kFg6 video {
    border-radius: 8px;
    display: block;
    margin: auto;
}
._1dAkm {
    border: 1px solid #c7c7c7;
}

.ywMxQ {
    border: 1px solid #d4d4d4;
}

._15IF1 {
    border-radius: 4px;
}

._1x38H {
    font-size: 20px;
}

._3aTu7 {
    font-size: 16px;
}

._2TyLB {
    font-size: 14px;
}

._20uqS {
    font-size: 12px;
}

.JFoUU {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

._2ivXZ {
    margin: 20px;
}

._1HRTJ {
    margin: 10px;
}

.EXJbA {
    padding: 20px;
}

._8kY67 {
    padding: 10px;
}

.M2gXq {
    width: 1236px;
}

._3UWmm {
    color: #555;
}

._2Z7Ng {
    color: #333;
}

._1e_c2 {
    color: #bd081c;
}
._3WcLX {

    background: #fff;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    outline: 0;
    padding: 7px 10px
}

._3WcLX:hover {
    background: #eee
}

._3WcLX:active {
    background: #c7c7c7
}

._5Bhek {

    background: #bd081c;
    color: #fff
}

._5Bhek:hover {
    background: #b0071a
}

._5Bhek:active {
    background: #930616
}

._38g-2 {

    background: #efefef
}

._38g-2:hover {
    background: #e3e3e3
}

._38g-2:active {
    background: #c7c7c7
}

._5Bhek,
._38g-2 {

    border: none;
    height: 32px;
}
._1T1tc {

    background-color: #fff;
    margin-top: 15px;
    overflow: hidden;
}

._2PnMB {

    font-weight: bold;
    padding: 5px 10px;
}

._1cDYE {

    color: #b5b5b5;
    margin-bottom: 15px;
    padding-left: 10px;
}

._2WDyx {

    background-color: #efefef;
    border: none;
    color: #878787;
    font-family: Menlo;
    font-size: 13px;
    margin: 0 auto;
    white-space: pre-line;
    width: 95%;
}

._2lNJu {
    color: #bd081c;
    font-weight: bold;
}

._20HMq {
    color: #0058ff;
    font-weight: bold;
}

.dqDmT {

    background-color: #ebebeb;
    border: none;
    box-shadow: none;
    float: right;
    font-weight: bold;
    height: 32px;
    width: 92px;
}
._3k3EX {

    background-color: #fff;
}

._3sWAo {

    font-weight: bold;
    padding: 5px 10px;
}

._1JtRd {

    color: #b5b5b5;
    font-weight: 500;
    padding: 0 10px;
}

._3R-bc {

    height: 30px;
    margin: 10px;
    padding: 0 10px;
    width: 660px;
}

._3wo02 {

    font-weight: bold;
}

._2byKN {

    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

._2fWV0 {
    margin: 0 10px;
}
._1w7hy {

    background-color: #fff;
    margin-top: 15px;
    width: 700px;
}

._2OC0z {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

._28c4X {

    font-weight: bold;
    padding: 5px 10px;
}

._1GCiV {

    color: #b5b5b5;
    font-weight: 500;
    padding: 0 10px;
}

.la4cL {
    color: #b5b5b5;
    font-weight: bold;
}

._3-11e {
    padding: 20px 10px;
    width: 300px;
}

.x4HIZ {

    font-weight: bold;
    padding-bottom: 5px;
}

.gn8hL {

    font-weight: 500;
    margin-bottom: 15px;
}

._3iUu1 {

    background-color: #efefef;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Menlo;
    font-weight: bold;
    height: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 30px;
}
._25lve {
    background: #fff;
    border-bottom: 1px solid #d4d4d4;
    height: 121px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

._1or8d {

    margin: 0 auto;
    max-width: 1236px;
}

._3jwb6 {

    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
}

._3u6e7 {

    font-weight: 500;
    margin-top: 3px;
}

.jmmp2 {
    font-weight: bold;
}

._3ZlN1 {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    top: 121px;
}

._1HLKK {

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
    color: #b5b5b5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 700px;
}

._1tAdH {

    background-color: #fff;
    margin-top: 15px;
    width: 700px;
}

._32pHd {

    font-weight: bold;
    padding: 5px 10px;
}

._1VxqW {

    color: #b5b5b5;
    font-weight: 500;
    padding: 0 10px;
}

.rPm2Z {

    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px 10px;
}

._3B3EA {
    margin-right: 5px;
}

._1HmmX {

    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 340px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 30px;
    padding: 15px 21px;
    width: 354px;
}

._2wxzT {
    padding: 15px 0;
}

._3raoK {

    color: #b5b5b5;
}

._2wxzT:not(:last-child) {
    border-bottom: 1px solid #efefef;
}

._1mF9H {

    font-weight: bold;
    padding-bottom: 6px;
}

.YcP8I {

    font-weight: 500;
}
._1lJYd {

    background-color: #fff;
}

._1lJYd tr:nth-child(odd) {
    background: #f8f8f8;
}

._1lJYd tr:nth-child(even) {
    background: #fff;
}

._320F7 {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 20px;
}

.UDN02 {

    font-weight: bold;
}

._2XbSs {

    color: #b5b5b5;
    font-weight: 500;
}

._1LLWs {

    font-weight: bold;
}

._2sc73 {
    background: #fff;
    height: 35px;
    padding: 0 20px;
    width: 140px;
}

._3oqnF {
    background: #fff;
    width: 90px;
}

._3awwA {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

._2NHBj {

    font-weight: 500;
    padding: 0 20px;
}

._28Nhd {

    border-left: 4px solid #bd081c;
}

.Fy576 {
}

.K8jhh, ._3-YFj {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    font-weight: bold;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 20px;
}

.K8jhh {
}

._3-YFj {
}

._1TKxQ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 10px;
}

._3fRWX {

    box-shadow: none;
    line-height: 16px;
    padding: 7px 10px;
}
.GHgT5 {
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    height: 121px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

._39vwd {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
    margin: 0 auto;
}

.n-OSf {

    font-size: 36px;
    font-weight: bold;
    padding-top: 30px;
}

._1bBJe {

    color: #211922;
    margin-top: 3px;
}

._2KRTR {

    empty-cells: show;
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
    top: 121px;
}

._3B0yN {

    -webkit-box-align: center;

    -webkit-align-items: center;

        -ms-flex-align: center;

            align-items: center;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 301px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.Klp_u {
    height: 56px;
}

._17te7 {

    font-weight: bold;
    padding: 5px;
}

._39LMq {

    color: #b5b5b5;
    font-weight: 500;
    text-align: center;
    width: 358px;
}

._19wDe {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
}

._1yDjd {

    -webkit-box-align: end;

    -webkit-align-items: flex-end;

        -ms-flex-align: end;

            align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

._3l5UT {
    display: inline-block;
    margin-right: 5px;
}
._7lksv {
    border-radius: 8px;
    color: #fff;
    font-family: "Helvetica Neue", ​arial, ​sans-serif;
    height: 216px;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
}

._365gL {
    font-size: 6.93pt;
    padding-bottom: 2.64px;
}

._2qoNK {
    font-size: 14.08pt;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    max-height: 144px;
}

._1QhQ- {
    max-height: 200px;
    overflow: hidden;
    padding: 20px 13.2px;
    text-overflow: ellipsis;
}
._2DBqS {
    background: #fff;
    border-radius: 6px;
    display: inline-block;
    width: 236px;
}

._26d7v {
    border-radius: 6px;
    position: relative;
}

._26d7v:hover,
._26d7v:active {
    background: rgba(#000, .2);
    content: " ";
    position: absolute;
}

._3YHk5 {
    margin-bottom: 8px;
}

._3YHk5:hover button {
    opacity: 1;
}

.dZ8-s {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 8px;
    position: absolute;
    top: 8px;
    z-index: 101;
}

.dZ8-s button {
    opacity: 0;
}

._1jvlo {
    cursor: pointer;
}

.qHcGk {
    border-radius: 8px;
    display: block;
    padding: 0;
    position: relative;
}
._3OhED {
    border-radius: 6px;
    cursor: pointer;
    display: block;
    min-width: 110px;
    padding-bottom: 100%;
    position: relative;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 100%;
}

._3OhED:active {
    -webkit-transform: scale(.95);
            transform: scale(.95);
}

._1b5LA {
    background: #fff;
    background-size: cover;
    border-radius: 6px;
    display: block;
    height: 100%;
    opacity: .8;
    position: absolute;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 100%;
}

._1b5LA:hover {
    opacity: 1;
}

.jJ5T1 {
    bottom: 0;
    display: block;
    left: 0;
    padding: 8px;
    position: absolute;
    right: 0;
}

._3qyVO {
    color: #fff;
    display: block;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    text-align: left;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
    width: 100%;
}

._27l0Z {
    text-align: left;
}

._2azC1 {
    text-align: center;
}

._1TaeW {
    text-align: right;
}

._3VZDa h2 {
    font-size: 13px;
}

._3VZDa h3 {
    font-size: 11px;
    font-weight: normal;
}

.c1-2c h2 {
    font-size: 16px;
}

.c1-2c h3 {
    font-size: 12px;
    font-weight: normal;
}

._3B6fM {
    font-weight: bold;
}

.c1-2c ._13_nw {
    margin-top: 8px;
}

._3VZDa ._13_nw {
    display: none;
    padding: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

._3VZDa:hover ._13_nw {
    display: block;
}
._22414 {
    min-width: 500px;
}

._1xoAK {
    background: #f4f4f4;
    border: 1px solid #c7c7c7;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .33) inset;
    clear: both;
    margin: 20px;
}

._3dwW_ {
    color: #9f9f9f;
    font-size: 18px;
    margin: 20px 0 14px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .67);
}

._3TD_F {
    border: none;
    border-radius: 6px;
    margin: 0 auto 20px;
    padding: 10px;
    position: relative;
    width: 236px;
}

._3Rio6 {
    color: #555;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: bold;
    text-decoration: none;
}

._2Vn6L {
    color: #555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    height: auto;
    line-height: 18px;
    margin: 0 3px 6px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-top: 8px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._2MrWv {
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
    float: right;
    height: 16px;
    margin-left: auto;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
}

._3GClv {
    background-color: #eee;
    border-radius: 8px 8px 0 0;
    clear: both;
    height: 146px;
    overflow: hidden;
    position: relative;
    width: auto;
}

._1NQO9 {
    border-radius: 8px 8px 0 0;
    height: 146px;
    width: 236px;
}

._3KZJt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 111px;
    margin: 0;
    padding: 0;
    width: 236px;
}

._2trCo {
    width: 100%;
}

/* clear */

._3KZJt:after {
    clear: both;
    content: "";
    display: table;
}

._3KZJt li {
    display: inline;
    float: left;
    height: 100%;
    margin: 5px 0;
    margin-left: 2px;
    padding: 0;
    position: relative;
    width: 100%;
}

._3KZJt li:first-child img {
    border-bottom-left-radius: 8px;
}

._3KZJt li:last-child img {
    border-bottom-right-radius: 8px;
}

._16tCF {
    height: 100%;
    width: 100%;
}

._3sPN5,
._1J8X3 {
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    font-weight: bold;
    letter-spacing: -.15px;
    line-height: 16px;
    margin: 10px 0;
    padding: 10px 14px;
    position: relative;
    text-shadow: none;
    width: 236px;
    word-spacing: 0;
}

._3sPN5 {
    background-color: #bd081c;
}

._1J8X3 {
    background-color: #efefef;
}

._3sPN5 span,
._1J8X3 span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.15px;
    line-height: 16px;
    word-spacing: 0;
}

/* hack to grab button text */

._3sPN5 span {
    color: #fff;
}

._1J8X3 span {
    color: #5f5f5f;
}
.IbOPn {
    padding: 0 50px;
}

._183gw {
    text-align: center;
}
._3dcWx {
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    min-width: 500px;
}

._2uwmD {
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 0;
    width: auto;
}

._1dnXr {
    border-bottom: 1px solid #e7e7e7;
    color: #333;
    font-size: 20px;
    margin: 0;
    min-height: 20px;
    overflow: hidden;
    padding: 17px 18px 13px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.SDzKC {
    font-style: normal;
    font-weight: bold;
}

.MlMhd {
    background: #f0f0f0;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #dadada;
    clear: both;
    padding: 10px 20px;
}

.MlMhd:after {
    /* Clearfix */
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

._3K7dk a {
    /* TODO: (bryan) - Use gestalt styles when they become available */
    background-color: #bd081c;
    background-image: none;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.15px;
    line-height: 16px;
    margin-left: 8px;
    padding: 10px 14px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-shadow: none;
    word-spacing: 0;
}
._3U9Rh {
    cursor: pointer;
    display: block;
    -webkit-font-smoothing: antialiased;
    padding-left: 23px;
    padding-right: 23px;
    position: relative;
}

._2gyc_ {

    background-color: #f5f5f5;
}

._1Evrt {
    background-color: #bd081c;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    color: #efefef;
    cursor: pointer;
    display: none;
    float: right;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    margin-top: 6px;
    outline: none;
    padding: 9px 12px;
    white-space: nowrap;
}

._2PGYa {
    display: inline-block;
    position: relative;
}

._-7Vu4 {

    -webkit-animation: _3QWon .8s linear infinite;

            animation: _3QWon .8s linear infinite;
    border-radius: 50%;
    border-right: 3px solid transparent;
    border-top: 3px solid #fff;
    height: 18px;
    margin: 0 10px;
    top: -1px;
    width: 18px;
}

@-webkit-keyframes _3QWon {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes _3QWon {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

.nrNsQ {

    border-bottom: 3px solid #fff;
    border-radius: 0;
    border-right: 3px solid #fff;
    height: 14px;
    margin: 0 14px;
    top: -1px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition-duration: .1s;
            transition-duration: .1s;
    -webkit-transition-property: border-radius, border-right, height, margin, width, -webkit-transform;
    transition-property: border-radius, border-right, height, margin, width, -webkit-transform;
    transition-property: border-radius, border-right, height, margin, transform, width;
    transition-property: border-radius, border-right, height, margin, transform, width, -webkit-transform;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    width: 7px;
}

._11Rg8 {
    display: inline-block;
    fill: #fff;
    height: 20px;
    margin-right: 8px;
    position: relative;
    top: -1px;
    vertical-align: middle;
    width: 10px;
}

._2gyc_ > ._1Evrt {
    display: block;
}

._1UJ5Y {
    display: inline-block;
    fill: #b5b5b5;
    float: right;
    height: 14px;
    margin-left: 5px;
    margin-top: 16px;
    width: 14px;
}

._2gyc_ > ._1UJ5Y {
    display: none;
}

._2MSjr {
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .25);
    height: 34px;
    margin-right: 10px;
    vertical-align: middle;
    width: 34px;
}

._2nbJx {
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .01em;
    line-height: 34px;
    margin: 7px 0;
    max-width: 193px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

._2gyc_ > ._2nbJx {
    max-width: 125px;
}
._2Qc07 {
    border-top: 1px solid #f5f5f5;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-top: 15px;
    overflow-y: scroll;
}

._-QiTt > header {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-left: 23px;
}

._-QiTt > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

._-QiTt > ul:last-child {
    border-bottom: 1px solid #f5f5f5;
}
._2ZXmj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
}

._2ZXmj > * {
    -webkit-box-flex: 0;
    -webkit-flex: none;
        -ms-flex: none;
            flex: none; /* force child SelectList to have no flex */
}

._3VA1K {
    background: #fff;
    border: 0;
    border-top: 1px solid #f5f5f5;
    cursor: pointer;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .01em;
    line-height: 48px;
    outline: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}

._3CJhI {
    display: block;
    fill: #bd081c;
    float: left;
    height: 36px;
    margin: 6px 23px 0 12px;
    vertical-align: middle;
    width: 36px;
}

._31W-q {
    color: #211922;
    margin-right: 5px;
}

._2g9Ul {
    color: #211922;
    font-weight: bold;
}
._1RxQ6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    min-height: 0;
}

._2oIsi {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding-left: 23px;
    padding-right: 23px;
    position: relative;
}

._2mr8r {
    fill: #b5b5b5;
    height: 20px;
    left: 35px;
    position: absolute;
    top: 13px;
    width: 18px;
}

._1MA0K {
    background-color: #f5f5f5;
    border: 1px solid #efefef;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    overflow: hidden;
    padding: 13px 13px 13px 44px;
    width: 100%;
}

._1PQKE {
    list-style: none;
    margin: 0;
    padding: 0;
}

._1PQKE:last-child {
    border-bottom: 1px solid #f5f5f5;
}

._1kN1w {
    -webkit-animation: _3JhkS .8s linear infinite;
            animation: _3JhkS .8s linear infinite;
    border-radius: 50%;
    border-right: 4px solid transparent;
    border-top: 4px solid #bd081c;
    content: '';
    height: 32px;
    margin: auto;
    position: relative;
    width: 32px;
}

@-webkit-keyframes _3JhkS {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes _3JhkS {
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
.VxxFD {
    background: -webkit-linear-gradient(#ffef9c, #ffda66);
    background: linear-gradient(#ffef9c, #ffda66);
    background-color: #ffe581;
    border-radius: 4px;
    color: #7e4300;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    margin: 0 23px 12px;
    padding: 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

._39ZbN > a {
    color: #bd081c;
    font-weight: bold;
}
._1m5Tn {
    border-top-right-radius: 6px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

._2stjN {
    color: #333;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    padding: 25px 25px 13px;
}
._3FMPn {
    background: #fff;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .01em;
    outline: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    z-index: 1; /* zIndexBaseline */
}

._3Lb3S {

    border-top: 1px solid #f5f5f5;
    line-height: 48px;
    width: 100%;
}

._1i5_L {

    border-radius: 0 0 6px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 64px;
        -ms-flex: 0 1 64px;
            flex: 0 1 64px;
    line-height: 64px;
    min-height: 64px;
}

._2k7Oc {
    display: block;
    fill: #bd081c;
    float: left;
    height: 36px;
    margin-left: 23px;
    margin-right: 12px;
    vertical-align: middle;
    width: 36px;
}

._3Lb3S > ._2k7Oc {
    margin-top: 6px;
}

._1i5_L > ._2k7Oc {
    margin-top: 14px;
}

._2e9A9 {
    color: #211922;
    margin-right: 5px;
}

._2bo4W {
    color: #211922;
    font-weight: bold;
}
._3Lq0s {
    border-left: 1px solid #f5f5f5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-font-smoothing: antialiased;
    height: inherit;
    width: 330px;
}
._3q4ih {
    border-bottom: 1px solid #efefef;
}

._3Bvvr {
    cursor: pointer;
    display: block;
    padding: 10px 20px 0;
}

._3Bvvr > ._2q4Od {
    fill: #b5b5b5;
    float: left;
    height: 14px;
    position: relative;
    top: 2px;
    width: 14px;
}

._3Bvvr:hover > ._2q4Od {
    fill: #999;
}

._3Bvvr > ._1ZoyJ {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}

._2tnf6 {
    color: #555;
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
}

._3odC5 {
    list-style: none;
    margin: 0;
    padding: 0;
}

._3Ub-B {
    border-bottom: 1px solid #efefef;
    cursor: pointer;
    display: block;
    padding: 4px 10px;
}

._3Ub-B:hover {
    background-color: #efefef;
}

._3g-4D {
    border-top: 0;
    height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 320px;
}

._3g-4D > ._2q4Od {
    float: left;
    height: 32px;
    margin-right: 12px;
    width: 32px;
}

._3g-4D > .W6xTV {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
}

._9dtud {
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

._13ugU {
    color: #666;
    font-size: 12px;
    font-weight: normal;
}
._2K_n0 {
    margin: 0 10px;
    position: relative;
}

._14QMW {
    fill: #b5b5b5;
    height: 18px;
    left: 10px;
    position: absolute;
    top: 8px;
    width: 18px;
}

._2pDWM {
    background-color: #f5f5f5;
    border: 1px solid #efefef;
    border-radius: 2px;
    box-shadow: none;
    box-sizing: border-box;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    outline: none;
    overflow: hidden;
    padding: 13px 13px 13px 44px;
    width: 100%;
}

._1x58W {
    list-style: none;
    margin-top: 6px;
    padding: 0;
}
._1NB6Y {
    cursor: pointer;
    padding: 4px 8px;
}

._1NB6Y:hover {
    background-color: #efefef;
}

._2AYG2 {
    border: 2px solid transparent;
    border-radius: 50%;
    display: inline-block;
    height: 36px;
    margin-right: 12px;
    overflow: hidden;
    -webkit-transition: border .15s ease-out;
    transition: border .15s ease-out;
    vertical-align: middle;
    width: 36px;
}

._35itm {

    border: 2px solid #bd081c;
}

._2iRx3 {
    border-radius: 50%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out;
    width: 100%;
}

._35itm > ._2iRx3 {
    -webkit-transform: scale(.92, .92);
            transform: scale(.92, .92);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out, -webkit-transform .15s ease-out;
}

._3yQXi {
    display: block;
    fill: #fff;
    height: 16px;
    margin: auto;
    width: 16px;
}

._1KoeU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: inherit;
}

._1ntWG {

    background-color: #bd081c;
}

._1dsIV {

    background-color: #999;
}

._2rqLJ {

    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -.06em;
    line-height: 32px;
    text-align: center;
}

._1fbcW {

    margin: 0;
}

._2hpYK {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
}

.cGfJj {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

._3Uhs_ {

    line-height: 32px;
}

._3QwQJ {
    color: #b7b7b7;
    font-size: 12px;
    margin: 2px 0 0;
}
._1Md91 {
    background-color: #fff;
    border-left: 1px solid #f5f5f5;
    border-radius: 0 8px 8px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-font-smoothing: antialiased;
    height: inherit;
    min-width: 330px;
    position: absolute;
    top: 0;
    width: 330px;
}

._3Bvtw {

    left: 660px;
    -webkit-transition: left .15s ease-in-out;
    transition: left .15s ease-in-out;
}

._1Mo3M {

    left: 330px;
    -webkit-transition: left .15s ease-in-out;
    transition: left .15s ease-in-out;
}

._2WSsG {
    color: #555;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-size: 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin: 0;
    padding: 25px 25px 13px;
}

._2mUKL {
    border-bottom: 1px solid #efefef;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    padding: 10px;
}

._39lQt {

    -webkit-box-flex: 1;

    -webkit-flex: 1 1 auto;

        -ms-flex: 1 1 auto;

            flex: 1 1 auto;
    overflow: scroll;
    padding: 10px 0 0;
}

._39lQt > h3 {
    padding-left: 10px;
}

._2tUce {
    margin: 0;
}

._1pDi0 {
    color: #c2c2c2;
    cursor: default;
    display: block;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
    letter-spacing: .05em;
    margin-bottom: 4px;
    pointer-events: none;
    text-transform: uppercase;
}

._3JSBI {
    border: 0;
    box-shadow: none;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    font-size: 15px;
    margin-bottom: 5px;
    outline: none;
    padding: 6px;
    width: 95%;
}

._3eMcg {
    color: #bd081c;
}

.zsoCK {
    font-size: 13px;
    margin: 6px 0 0;
}

._37x3R {
    background: #e6abad;
    border: 1px solid #bd081c;
    border-radius: 3px;
}

._3WqGC {
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    box-shadow: none;
    height: 28px;
    pointer-events: none;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 70px;
}

.sz34K {

    background-color: #f8f8f8;
}

.wQpwL {

    background-color: #bd081c;
}

._21G0S {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 50px;
    bottom: -1px;
    box-shadow: none;
    display: inline-block;
    height: auto;
    position: absolute;
    top: -1px;
    width: 27px;
}

.cBaGY {

    left: -1px;
}

.jW9g6 {

    left: 44px;
}

._3i5AD {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    position: absolute;
}

.Jp3S6 {

    color: #555;
    right: 15px;
    top: 6px;
}

._18VrG {

    color: #fff;
    left: 14px;
    top: 6px;
}

._1qs-F {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    pointer-events: all;
    width: 100%;
}

.CmYG0 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 38px;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    padding: 25px;
}

._1JOqD {
    border: 0;
    border-radius: 4px;
    color: #5f5f5f;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -.2px;
    line-height: 18px;
    outline: none;
    padding: 10px 14px;
    white-space: nowrap;
    word-spacing: 0;
}

._2wRYw {

    background-color: #efefef;
    float: left;
}

._2bAQg {

    background-color: #bd081c;
    color: #fff;
    float: right;
}

._199fh {

    background: #ebebeb;
    color: #aaa;
    cursor: default;
    float: right;
}
.Wo82D {
    color: #a7a7a7;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    letter-spacing: -.1px;
    line-height: 14px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TTZY- {
    border-radius: 2px;
    height: 16px;
    margin-right: 5px;
    vertical-align: -2px;
    width: 16px;
}
._2pmI0 {
    border: none;
    color: #333;
    display: inline-block;
    font-family: 'Helvetica Neue', 'Helvetica', '\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', 'Meiryo', '\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF', arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.15px;
    line-height: 16px;
    margin: 5px 0 6px;
    overflow: hidden;
    resize: none;
    width: 165px;
    word-spacing: 0;
    word-wrap: break-word;
}

._2pmI0:hover {
    background-color: #e3e9ed;
}

._2pmI0:focus {
    outline: none;
    overflow: scroll;
    width: 196px;
}

._2pmI0:hover:focus {
    background-color: #fff;
}

._25aoz {
    color: #999;
}

._9gjAQ {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    float: right;
    margin-top: 6px;
    outline: none;
}

._1B-Bt {
    display: inline-block;
    fill: #b5b5b5;
    height: 14px;
    width: 14px;
}

._1B-Bt:hover {
    fill: #999;
}

._1sq4m {
    border-radius: 8px;
    max-height: 380px;
    overflow: hidden;
}

.S0rfb {
    border: 0;
    border-radius: 8px;
    display: block;
    height: auto;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
}

._2_TCG {
    padding: 8px 8px 0;
}

._36Qn4 {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 330px;
    position: relative;
    width: 330px;
}

.OTret {
    color: #444;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -.2px;
    max-width: 180px;
}

._27N2Z {
    width: 216px;
}
.SPy5J {
    bottom: -32px;
    left: 0;
    position: absolute;
}

._1YVt- {
    float: left;
    margin-left: 10px;
}

._2NiLe {
    display: none;
}

._3CKrl {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
}

.a-RVc {

    fill: #d9d9d9;
}

._2Exhq {

    fill: #fff;
}

._1YVt-:hover .a-RVc {
    fill: #fff;
}

._2Oyyu {
    cursor: pointer;
    display: block;
    height: 18px;
}

._8Z9iY {
    display: inline-block;
    float: left;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    margin-left: 7px;
}

._1jY3y {

    color: #fff;
}

._149FM {

    color: #d9d9d9;
}

._1YVt-:hover ._8Z9iY {
    color: #fff;
}
._3FJLP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: "Helvetica Neue", "Helvetica", "\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3", "Hiragino Kaku Gothic Pro", "\30E1\30A4\30EA\30AA", "Meiryo", "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", arial, sans-serif;
    height: 660px;
    position: relative;
    width: 660px;
}

._1MKoK {
    background: #fff;
    border-radius: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    overflow: hidden;
    position: relative;
}

._2Y6ax {
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 10px;
    position: absolute;
    right: 14px;
    top: 18px;
    z-index: 1;
}

._5F0dq {
    display: inline-block;
    fill: #b5b5b5;
    height: 16px;
    width: 16px;
}

._5F0dq:hover {
    fill: #999;
}

._3AyBG {
    color: transparent;
    font: 0 / 0 serif;
    position: absolute;
}
._26Kfo {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #1a1e23;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}
._2HwCB {
    display: block;
    position: relative;
}

.JB3o6 {
    background-color: #000;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

._2HRpN {
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .3));
    background: linear-gradient(transparent, rgba(0, 0, 0, .3));
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

._1JJiG {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

._1iCLF {
    position: absolute;
}

._1iCLF.y_OgL {
    left: 8px;
    top: 8px;
}

._1iCLF._1AgeH {
    right: 8px;
    top: 8px;
}

._1iCLF._3mOkF {
    bottom: 0;
    width: 100%;
}

._2MHRi {
    color: #fff;
    display: block;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    letter-spacing: -.05px;
    line-height: 18px;
    overflow: hidden;
    padding: 8px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-spacing: 0;
}

._2MHRi:hover {
    color: #fff;
}

._24p8m {
    background: rgba(255, 255, 255, .9);
    border: 0;
    bottom: 0;
    color: #666;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 12px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.vYMv2 {
    position: absolute;
    top: 0;
}

._3vMHM {
    box-sizing: border-box;
    display: inline-block;
    font-size: 11px;
    padding: 10px;
    width: 236px;
}

.YhPo0 {
    border-radius: 8px;
    display: block;
    margin-bottom: 6px;
    position: relative;
}

.D0Lnn {
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
}

.zSwwK {
    margin: 0;
    max-width: 145px;
    position: relative;
}

._2fP-Y {
    color: #0084ff;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.u88-H {
    color: #444;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 0;
}

._3-bn_ {
    color: #333;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    lineheight: 17px;
    margin-bottom: 4px;
    margin-top: 0;
    wordwrap: break-word;
}

._2dHP6 {
    color: #b5b5b5;
    font-style: normal;
    font-weight: bold;
    padding-right: 7px;
    position: absolute;
    right: 0;
    top: 1px;
}

._1seUn {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

._2oJJ1,
._2oJJ1 img {
    border-radius: 50%;
    float: left;
    height: 36px;
    margin-right: 6px;
    width: 36px;
}

._2xBff {
    color: #555;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}

._2nNjB {
    color: #555;
    font-size: 11px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}
._3KrDw {

    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

._3XvjN {

    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

._2Sc3i {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
}

._3UeVO {
    margin-right: 10px;
}

.V2Mwq {
    font-weight: bold;
    margin-right: 20px;
    width: 205px;
}

.Ssfog {
    overflow-wrap: break-word;
    width: 583px;
}
.y5lSW {

    background: #fff;
    width: 356px;
}

._1TTKQ {

    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 20px;
    font-weight: bold;
}

._2gkHp {
    padding: 15px 20px;
}

._3qYcZ {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}
._3-oll {

    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

._3F_hy {

    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 5px;
}

._1NVQt {
    display: inline-block;
    margin-right: 10px;
}

.Fxgd- {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
}

._3gOqx {
    font-weight: bold;
    margin-right: 20px;
    width: 205px;
}

.mO9T8 {
    overflow-wrap: break-word;
    width: 583px;
}

.HmHV9 {
    margin-left: 20px;
}

._3U22p {
    height: 300px;
    resize: vertical;
    width: 862px;
}
.bJGlG {

    background: #fff;
}

._3C3k4 {

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;
}

._1RJZ- {
    margin-right: 20px;
    width: 205px;
}

._3nGlm {
    -webkit-box-flex: 50px;
    -webkit-flex-grow: 50px;
        -ms-flex-positive: 50px;
            flex-grow: 50px;
}

._1jhu_ {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.o5Mkl {
    color: #666;
    font-size: 14px;
    line-height: 21px;
}

.Oj4Bb {

    background: #fff;
    color: #333;
    font-size: 14px;
    padding: 7px;
    width: 587px;
}

._3greu {

    border-top: 0;
    max-height: 200px;
    overflow: scroll;
}

._29PEC {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
}
._3V1Zk {

    margin: 0 auto;
    padding: 30px 0;
    position: relative;
}

._2LPrm {
    margin-left: 366px;
    width: 870px;
}

._6IAFa {
    left: 0;
    position: absolute;
}

._1b3lu {
    margin-bottom: 10px;
}
._2AH9i {
    border-radius: 50%;
    width: 100%
}

._2AH9i:hover {
    opacity: .85
}

._19uG2 {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
._2sQz_ {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 10px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}
._2cLr2 {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}

.yYqTo {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
}
.DJe10 {
    background-color: #fff;
    border-radius: 8px;
}

/*# sourceMappingURL=extracted.css.map*/